.box-list {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .restart {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    color: #26ffcb;
    cursor: pointer;
    background-image: linear-gradient(#2d0965, #3c0068);
    font-weight: bold;
    transition: all 0.5s;
    &:hover {
      background-image: linear-gradient(#26ffcb, #3c0068);
      color: #ffc226;
    }
  }
}
