.xox {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#2d0965, #3c0068);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-weight: bold;
      font-size: 70px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
    .x {
      color: #ffc226;
    }
    .o {
      color: #26ffcb;
    }
  }
  .start {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    color: #26ffcb;
    cursor: pointer;
    background-image: linear-gradient(#2d0965, #3c0068);
    font-weight: bold;
    transition: all 0.5s;
    &:hover {
      background-image: linear-gradient(#26ffcb, #3c0068);
      color: #ffc226;
    }
  }
}
